<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Password reseted successfully</title>
</head>
<body>
  <h2>Hello {{name}}! </h2>
  <p>You have successfully reseted your password recently. If that wasn't you, we invite you to change it again from our website.</p>
  <p>Don't share any of your passwords!</p>
</body>
</html>