<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Verify your email</title>
</head>
<body>
  <h2>Hello {{name}}! </h2>
  <p>Welcome aboard to our system. The next step is to verify your account. Please go to the <a href={{link}}>next link</a> to verify your account.</p>
  <p>Warning: Do not share this link.</p>
  <p>If the link above does not work, you can go to this site:</p>
  <p>{{link}}</p>
  <p>This link expires in 24 hours. You can always generate another one if that happens.</p>
  <p>We are more than happy to see you here!</p>
  <p>Please do not reply to this email.</p>
</body>
</html>